/* RESET  */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

/* Inizio del main  */
main{
    width: 100%;
    max-width: 1200px;
    margin: 3em auto;
}
/* Gestione del blocco del prodotto */
.blocco{
    width: 31%;
    margin-left: 0.7% ;
    margin-bottom: 3%;
    display: inline-block;
    font-size: 0.9em;

}
/* gestione immagini */
.imaggini{
    
    margin-bottom: 0.5%;
    position: relative;
}
img{
    max-width: 100%;
    
}
.none{
    display: none;
    position: absolute;
    top: 0;
    right: 0;

}

/* Scritte sotto la foto  */

.marchio .prezzo{
    font-size: 0.8em;
}
.prodotto, .prezzo span:first-child{
    font-weight: bold;
}
.prezzo span:first-child{
    color: magenta;
}
.prezzo span:nth-child(2){
    text-decoration: line-through;
}
/* HOVER  */
.imaggini:hover .none{
    display: block;
}
/* Banda sotto l'immagine */
.banda{
    position: absolute;
    bottom: 5%;
    left: 0;
    font-size: 0.8em;
}
.sconto{
    background-color: magenta;
}
.sustainability{

    background-color: seagreen;
}
.banda div{
    display: inline;
    padding: 0.5em 1em;
    color: white;
}
/* CUORE */
.cuore{
    position: absolute;
    font-size: 2em;
    top: 5%;
    right: 0;
    /* padding: 0.5em; */
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    text-align: center;
    /* vertical-align: middle; */
    line-height: 1.5em;
}