/* RESET  */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

/* Inizio del main  */
main{
    width: 100%;
    max-width: 1200px;
    margin: 3em auto;
}
/* Gestione del blocco del prodotto */
.blocco{
    width: 31%;
    margin-left: 0.7% ;
    margin-bottom: 3%;
    display: inline-block;
    font-size: 0.9em;

}
img{
    max-width: 100%;
    margin-bottom: 0.5%;
}

/* Scritte sotto la foto  */

.marchio .prezzo{
    font-size: 0.8em;
}
.prodotto, .prezzo span:first-child{
    font-weight: bold;
}
.prezzo span:first-child{
    color: magenta;
}
.prezzo span:nth-child(2){
    text-decoration: line-through;
}